

/* name textbox */

.grid {

    width: 606px;
    height: 606px;
    /* below allows you to fit the boxes properly */
    display: flex;
    flex-wrap: wrap;

}

.square {

    height:200px;
    width:200px;
    border: solid black 1px;
}

.mole {

    background-image: url("/Whack-O-Claire/images/claire.jpeg");
    background-size: cover;

    
}

#header {

    text-align: center;
    font-size: 80px;
    font-family: 'Rubik Marker Hatch', cursive;
    color: green;
}